<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.daqsoft.module_project">

    <application
        android:name=".alone.ProjectApplication"
        android:allowBackup="true"
        android:icon="@mipmap/project_ic_launcher"
        android:label="@string/project_name"
        tools:replace="label"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".alone.ProjectAloneActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>